<p>Welcome to deploy application.</p>
<p>
  My repo:
  <a href="https://github.com/hiennv0802/deploy_rails_capistrano" target="_blank">
  https://github.com/hiennv0802/deploy_rails_capistrano</a>
</p>
